// COLORS
$color-primary:     rgb(47, 59, 89);
$color-button:      rgb(252, 183, 43);
$color-font:        rgb(73, 85, 103);
$color-paragraph:   rgb(147, 156, 170);
$color-font-hero:   rgb(255, 255, 255);
$color-footer:      rgb(73, 85, 103);
$color-lower-footer:rgb(51, 58, 68);
$color-footer-icons:rgb(252, 183, 43);

// Container
$width-container: 1170px;
$p-container: 30px;

// FONTS
$font-Lexend:'Lexend Deca';
$font-Mono:'Space Mono';

// FONTS-SIZE
$NORMAL:300;
$REGULAR:400;
$MEDIUM:500;
$SEMI-BOLD:600;
$BOLD:700;
$EXTRA-BOLD:800;
